@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    display: grid;
    grid-template-columns: repeat(1fr, 100);
    grid-template-rows:   repeat(1fr, 100);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#page-title {
    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 101;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 2vh;
    border-top: blue 2px solid;
    border-bottom: blue 2px solid;
}
#page-title h1 {
    background-color: blue;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#circle-area {
    grid-row-start: 15;
    grid-row-end: 68;
    grid-column-start: 1;
    grid-column-end: 101;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle-area__body {
    height: 80vmin;
    width: 80vmin;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    position: relative;
    transform-style: preserve-3d;
}

 .flip-circle {
    transform: rotateY(.5turn);
    transition: transform 3s;
  }

  .unflip-circle {
    transform: rotateY(1turn);
    transition: transform 3s;
  }

#circle-area__body__front, #circle-area__body__back {

    position: absolute;
    backface-visibility: hidden;
}

#circle-area__body__back {

    transform: rotateY(180deg);
    text-align: center;
    
}

#circle-area__body__front {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;    
}
#japanese-text, #english-text {
    font-size: 4vh;
}

#button-area {
    grid-row-start: 71;
    grid-row-end: 84;
    grid-column-start: 1;
    grid-column-end: 101;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
#progress-area {
    grid-row-start: 87;
    grid-row-end: 101;
    grid-column-start: 1;
    grid-column-end: 101;
    border: 2px solid green;

}
#btn-progress-container {
    position: absolute;
}
#btn-flip {
    grid-row-start: 71;
    grid-row-end: 84;
    grid-column-start: 10;
    grid-column-end: 91;
    position: absolute;

}
button    {

 background: rgba(255, 20, 20, 0.25);
border: 4px solid #000000;
}